<div class="flex justify-center gap3 pt-10">
  <button class="btn btn-neutral" (click)="get500Errors()">500</button>
  <button class="btn btn-neutral" (click)="get400Errors()">400</button>
  <button class="btn btn-neutral" (click)="get400ValidationErrors()">400 Validation</button>
  <button class="btn btn-neutral" (click)="get401Errors()">401</button>
  <button class="btn btn-neutral" (click)="get404Errors()">404</button>
</div>

@if (validationErrors().length > 0) {
  <div class="card bg-base-100 flex mt-5 rounded-2xl w-1/2 p-3 mx-auto">
    <ul class="flex flex-col text-red-600 space-y-2">
      @for (error of validationErrors(); track $index) {
        <li>{{error}}</li>
      }
    </ul>
  </div>
}
