@if (pendingDeleteId() !== null) {
  <app-confirmation-modal
    message="Are you sure you want to delete this image?"
    (confirmed)="confirmDelete()"
    (cancelled)="cancelDelete()"
  ></app-confirmation-modal>
}

@if(!memberService.editMode()) {
  @if (images(); as images) {
    @if (images.length > 0) {
      <div class="grid grid-cols-4 auto-rows-min gap-3 p-5 h-full overflow-auto">
        @for (image of images; track image.id) {
          <div class="relative">
            <img src="{{image.url}}" alt="photo of member" class="rounded-lg">
            @if (accountService.currentUser()?.id === memberService.member()?.id) {
              <app-set-main-img-btn class="absolute top-1 left-1 z-10" (click)="setMainImage(image)"></app-set-main-img-btn>
              <app-delete-btn class="absolute top-1 right-1 z-10" (click)="requestDelete(image.id)"></app-delete-btn>
            }
          </div>
        }
      </div>
    } @else {
      <div class="flex justify-center items-center h-full">No images</div>
    }
  }
} @else {
  <app-upload-images (uploadFile)="onUploadImage($event)"></app-upload-images>
}

