<header class="p-3 w-full fixed top-0 bg-gradient-to-r from-primary to-black">
  <div class="flex align-middle items-center px-10 mx-auto gap-6">
    <a
      routerLink="/"
      routerLinkActive="text-neutral"
      class="flex items-center gap-3 max-h-16 text-white border-r-white border-r-2 pr-6">
      <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3">
        <path d="M390-40q-51 0-90.5-30.5T246-149q-6-23-25-37t-43-14q-16 0-30 6.5T124-175l-61-51q21-26 51.5-40t63.5-14q51 0 91 30t54 79q6 23 25 37t42 14q19 0 34-10t26-25l1-2-276-381q-8-11-11.5-23t-3.5-24q0-16 6-30.5t18-26.5l260-255q11-11 26-17t30-6q15 0 30 6t26 17l260 255q12 12 18 26.5t6 30.5q0 12-3.5 24T825-538L500-88q-18 25-48 36.5T390-40Zm110-185 260-360-260-255-259 256 259 359Zm1-308Z"/>
      </svg>

      <h3 class="text-2xl font-semibold text-white uppercase">My little app</h3>
    </a>

    <nav class="flex gap-3 my-2 uppercase text-lg text-white">
      @if(accountService.currentUser()) {
        <a routerLink="/members" routerLinkActive="text-neutral" [routerLinkActiveOptions]="{exact: true}">Users</a>
        <a routerLink="/lists" routerLinkActive="text-neutral">Lists</a>
        <a routerLink="/messages" routerLinkActive="text-neutral">Messages</a>
      }
    </nav>

    <div class="flex align-middle ml-auto gap-3">

      @if(accountService.currentUser(); as user) {
        <div class="dropdown dropdown-end">
          <div tabindex="0" role="button" class="flex items-center text-white text-xl gap-3 cursor-pointer">

            @if (user.imageUrl) {
              <img
                [src]="user.imageUrl"
                alt="Profile picture"
                class="rounded-full w-8 h-8 mr-2"
              />
            } @else {
              <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3"><path d="M480-480q-66 0-113-47t-47-113q0-66 47-113t113-47q66 0 113 47t47 113q0 66-47 113t-113 47ZM160-160v-112q0-34 17.5-62.5T224-378q62-31 126-46.5T480-440q66 0 130 15.5T736-378q29 15 46.5 43.5T800-272v112H160Zm80-80h480v-32q0-11-5.5-20T700-306q-54-27-109-40.5T480-360q-56 0-111 13.5T260-306q-9 5-14.5 14t-5.5 20v32Zm240-320q33 0 56.5-23.5T560-640q0-33-23.5-56.5T480-720q-33 0-56.5 23.5T400-640q0 33 23.5 56.5T480-560Zm0-80Zm0 400Z"/></svg>
            }

            <span>{{user.displayName}}</span>
          </div>
          <ul tabindex="-1" class="dropdown-content menu bg-base-100 rounded-box z-50 w-52 p-2 shadow-sm">
            <li><a routerLink="members/{{user.id}}">Edit profile</a></li>
            <li><a (click)="logout()">Logout</a></li>
          </ul>
        </div>
      } @else {
        <form #loginForm="ngForm" (ngSubmit)="login()" class="flex items-center gap-3">
          <input
            [(ngModel)]="cred.email"
            name="email"
            type="text"
            class="input"
            placeholder="Email">
          <input
            [(ngModel)]="cred.password"
            name="password"
            type="password"
            class="input"
            placeholder="Password">
          <button type="submit" class="btn">Login</button>
        </form>
      }

    </div>
  </div>
</header>
